<% include ./header %>
 	<style type="text/css">
 		body{
 			background:black;
 		}
  	</style>
<div class="container-fluid">
  	<div class="row" style>
  		    <div class="container" style="text-align:center;margin-top:100px;margin-left:100px;">
  		    	<img src="https://i.makeagif.com/media/11-04-2015/mfnzwt.gif" style="width:500px;" >	
   			</div>
   			<a href="/" style="margin-left:800px;margin-top:10px;">back</a>
  	</div>
</div>
<% include ./footer %>
