<% include ./header %>
<div class="container-fluid">
  	<div class="row" style>
  	 	<img src="https://vignette.wikia.nocookie.net/logopedia/images/f/f5/Infinite_Destiny_logo.png/revision/latest?cb=20150217054038" style="width:200px;height:80px;margin-left: 46%;margin-top:60px;" >
  		<div style="margin-top:170px; margin-left:30%;">
			<form action = "/results" method="GET" class="input-group">
				<div class="form-group">
					<input type="text" placeholder="search movie" name="search" class="form-control" style="width:540px; height:50px; margin-right:10px;">
				</div>
				<div class="form-group">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="Sumbit" style="width:100px;height:50px;">Go!</button>
					</span>
				</div>
			</form>
		</div>
  	</div>
</div>
<% include ./footer %>

